### Exercise 1.1
Select the ```birthord``` column from ```preg```, print the value counts, and compare to results published in the codebook.

In [8]:
import pandas as pd
import numpy as np

In [11]:
preg = pd.read_csv('chap01/nsfg_pregnancy_data.csv')
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,poverty_i,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231

In the codebook, ```birthord``` is birth order, which is applicable for all pregnancies that resulted in live birth (OUTCOME=1).

In [12]:
preg.shape

(13593, 243)

In [3]:
preg_birthord = preg['birthord']
preg_birthord.unique()

array([ 1.,  2.,  3., nan,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [44]:
preg_birthord.value_counts().sort_index()

birthord
1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: count, dtype: int64

We can also use ```isnull``` to count the number of nans.

In [45]:
preg_birthord.isnull().sum()

np.int64(4445)

As ```value_counts()``` shows, the result is same as the values in codebook.

### Exercise 1.2
Create a new column named ```totalwgt_kg``` that contains birth weight in kilograms (there are approximately 2.2 pounds per kilogram). Compute the mean and standard deviation of the new column.

In [6]:
preg['birthwgt_lb'].value_counts().sort_index()

birthwgt_lb
0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
51.0       1
97.0       1
98.0       1
99.0      57
Name: count, dtype: int64

In [7]:
preg['birthwgt_oz'].value_counts().sort_index()

birthwgt_oz
0.0     1037
1.0      408
2.0      603
3.0      533
4.0      525
5.0      535
6.0      709
7.0      501
8.0      756
9.0      505
10.0     475
11.0     557
12.0     555
13.0     487
14.0     475
15.0     378
97.0       1
98.0       1
99.0      46
Name: count, dtype: int64

1. Drop the rows with the error weight values.
2. Create the new column named ```totalwgt_kg``` by the columns ```birthwgt_lb``` and ```birthwgt_oz```.

In [13]:
preg["birthwgt_lb"] = preg["birthwgt_lb"].replace([51, 97, 98, 99], np.nan)
preg["birthwgt_oz"] = preg["birthwgt_oz"].replace([97, 98, 99], np.nan)

In [17]:
# Check how the dataframe calculates the NaN values
df = pd.DataFrame({
    "w_lb": [3, 4, 5, 6, np.nan, 7, 3, 4, 8],
    "w_oz": [10, 9, 4, np.nan, 5, np.nan, 11, 9, 0]
})
df['total_w_'] = df['w_lb'] + df['w_oz'] / 16
df

   w_lb  w_oz  total_w_
0   3.0  10.0    3.6250
1   4.0   9.0    4.5625
2   5.0   4.0    5.2500
3   6.0   NaN       NaN
4   NaN   5.0       NaN
5   7.0   NaN       NaN
6   3.0  11.0    3.6875
7   4.0   9.0    4.5625
8   8.0   0.0    8.0000

Therefore, the calculation with NaN gets NaN as result.

In [19]:
preg['totalwgt_kg'] = (preg['birthwgt_lb'] + preg['birthwgt_oz'] / 16) / 2.205
totalwgt_kg = preg['totalwgt_kg']

In [20]:
totalwgt_kg.mean()

np.float64(3.2950695952940445)

In [21]:
totalwgt_kg.std()

np.float64(0.6386818347251778)

### Exercise 1.3
What are the pregnancy lengths for the respondent with ```caseid``` 2298?

In [23]:
preg.query("caseid == 2298")

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3247.916977,5123.759559,5556.717241,2,18,1234,3.117914
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3247.916977,5123.759559,5556.717241,2,18,1234,2.494331
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3247.916977,5123.759559,5556.717241,2,18,1234,1.899093
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3247.916977,5123.759559,5556.717241,2,18,1234,3.117914

In [24]:
preg.loc[preg['caseid'] == 2298, ['gestasun_m', 'gestasun_w']]

      gestasun_m  gestasun_w
2610         0.0        40.0
2611         0.0        36.0
2612         0.0        30.0
2613         0.0        40.0

According to the data, the pregnancy lengths for the respondent with ```caseid``` 2298 are:
* 40 weeks
* 36 weeks
* 30 weeks
* 40 weeks

What was the birth weight of the first baby born to the respondent with ```caseid``` 5013?

In [43]:
preg.loc[(preg['caseid'] == 5013) & (preg['pregordr'] == 1), ['totalwgt_kg']]

      totalwgt_kg
5516     3.344671